*{
  margin: 0;
  padding: 0;
}
body{
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('./imgs/city.jpg');
  background-size: cover;
  background-position:center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}
.container{
background: whitesmoke;
width: 45vw;
height: 35vh;
display: flex;
align-items: center;
flex-direction: column;
border-radius: 25px;
padding: 2%;
box-shadow: 10px 10px;
}
.heading {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  font-size:larger;
  text-align: center;
}
h3 {
  font-size: 14px;
  color: #164ca7;
  margin-bottom:15px ;


}
.heading h1 {
  color: #232323;
  font-size: 21px;
  margin-left: 10px;
}
.btn_new_adv{
  position: relative;
  outline: none;
  text-decoration: none;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  height: 50px;
  width: 170px;
  opacity: 1;
  background-color: #ffffff;
  border: 1px solid rgba(22, 76, 167, 0.6);
  margin-bottom:10px ;
  margin-top:15px ;
}

.btn_new_adv span {
  color: #164ca7;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.7px;
}
  
.btn_new_adv:hover {
  animation: rotate 0.7s ease-in-out both;
}
  
.btn_new_adv:hover span {
  animation: storm 0.7s ease-in-out both;
  animation-delay: 0.06s;
}
  
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(3deg);
  }
  50% {
    transform: rotate(-3deg) ;
  }
  75% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(0deg) ;
  }
}
  
@keyframes storm {
  0% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
  25% {
    transform: translate3d(4px, 0, 0) translateZ(0);
  }
  50% {
    transform: translate3d(-3px, 0, 0) translateZ(0);
  }
  75% {
    transform: translate3d(2px, 0, 0) translateZ(0);
  }
  100% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
}  

@media only screen and (max-width: 600px) {
  .card {
      width: 80%;
      height: 30%;
  }
}